*.egg-info
personal_data/*
app/__pycache__/*
tests/__pycache__/*
app/munger/__pycache__/*
app/dash_app/__pycache__/*
Takeout/*
app/__pycache__/*
tests/__pycache__/*
self_stats_app/munger/__pycache__/*
self_stats_app/dash_app/__pycache__/*
Takeout/*
self_stats/munger/__pycache__/*
self_stats/dash_app/__pycache__/*
self_stats/__pycache__/*